<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHtEUCjRTF1gMHOHjvNqHeeZND321sw4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>795692799594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dameerCollection</string>
	<key>PROJECT_ID</key>
	<string>dameer-s-collection</string>
	<key>STORAGE_BUCKET</key>
	<string>dameer-s-collection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795692799594:ios:5b8b840082cab639fe5c13</string>
</dict>
</plist>